* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;

    background-color: #13238a;
    color: white;
    padding: 15px;


    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


h1 {
    font-weight: 500;
}

nav {
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between
}

.botones-nav {
    color: white;
    text-decoration: none;
}
.botones-nav:hover{
    color: #c2c3c8;
}


/*seccion principal*/
.img1 {
    display: block;
    margin: auto;
    border-radius: 8px;
    width: 350px
}


.section1 {
    background-color: #F7F7FB;
    padding-bottom: 40px;
    padding-top: 90px;
    display: flex;
    justify-content: space-between
}

.div1 {
    width: 50%;
    margin: 80px 60px;
}

.div2 {
    width: 50%;
}

.boton1 {
    text-decoration: none;
    color: #000;
    background-color: #DDDFEA;
    border-radius: 5px;
    border-color: #c2c3c8;
    border: #DDDFEA;
    padding: 15px 20px;
}

.boton1:hover {
    color:black;
    background-color: #c2c3c8;
}


/*SECCION NOSOTROS*/
.nosotros-home {
    background-color: #ffffff;
    padding: 13px;
}

.nosotros-titulo {
    padding: 40px;
    font-weight: 700;
    font-size: 1, 8rem;
}

.img-sec-2 {
    width: 500px;
    border-radius: 8px;

}

.img2-sec-2 {
    width: 400px;
    height: 150px;
    border-radius: 8px;
}

.img3-sec-2 {
    width: 350px;
    border-radius: 8px;
}

.nosotros-contenedor {
    display: flex;
    padding:25px 40px
}

.articulo-1 {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.articulo-2 {
    width: 50%;
    border: 20px;
    display: flex;
    flex-direction: column;
}
/*seccion productos*/

.productos {
    padding: 60px;
    background-color:#F7F7FB
}

.productos-fila {
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.card {
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-weight: 500px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

.card:hover {
    transform: scale(1.2);
    transition-duration: 1s;
}


/*cocteles*/

.seccion-cocteles {
    padding: 90px 60px;

    display: flex;
    justify-content: space-between;
}

.boton-coctel {
    text-decoration: none;
    color: black;
    background-color: #DDDFEA;
    border-radius: 5px;
    border-color: #c2c3c8;
    border: #DDDFEA;
    padding: 15px 20px
    
}

.boton-coctel:hover{
    background-color: #c2c3c8;
    color:black;
}

.coctel-img {
    width: 600px;
    border-radius: 8px;
}

/*footer*/
footer {
    background-color: #19298f;
    color: white;
    padding: 60px 60px;

}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
}

.ul-footer{
    display: flex;
    flex-direction: column;
}

.ul-redes{
    display: flex;
    flex-direction: column;
}


.links {
    text-decoration: none;
    color: white;
}